<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">

  <form action="/members/new" method="post">
    <div class="form-group">
      <label for="htmlIdName">이름</label>
      <input type="text" id="htmlIdName" name="formName" placeholder="이름을입력하세요">
      <!-- name="formName" 이 서버로 넘어오는 Key 값 -->
      <label for="htmlIdEmail">이메일</label>
      <input type="text" id="htmlIdEmail" name="formEmail" placeholder="이메일을입력하세요">
    </div>
    <button type="submit">등록</button>
  </form>

</div> <!-- /container -->
</body>
</html>
